<li
  class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2"
  *ngIf="todoItem"
>
  <div class="d-flex align-items-center">
    <input
      class="form-check-input me-2"
      type="checkbox"
      value=""
      aria-label="..."
      [checked]="todoItem.isCompleted"
      (change)="onCompletedChange($event)"
    />
    <s *ngIf="todoItem.isCompleted; else isCompleted">{{ todoItem.name }}</s>
    <ng-template #isCompleted>
      {{ todoItem.name }}
    </ng-template>
  </div>
  <a href="javascript:;" title="Remove item" (click)="onDelete()">
    <fa-icon [icon]="faTimes" class="text-primary"></fa-icon>
  </a>
</li>
